@{
    ViewData["Title"] = "Změna hesla";
}

<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="oldPassword">Staré heslo:</label>
        <input type="password" class="form-control" name="oldPassword" id="oldPassword"/>
    </div>
    <div class="form-group">
        <label for="newPassword">Nové heslo:</label>
        <input type="password" class="form-control" name="newPassword" id="newPassword" />
    </div>
    <div class="form-group">
        <label for="newPasswordAgain">Nové heslo znovu:</label>
        <input type="password" class="form-control" name="newPasswordAgain" id="newPasswordAgain" />
    </div>
    <div class="row">
        <div class="col-sm">
            <a asp-action="Profile" asp-controller="User" class="btn btn-dark" style="width: 100%">Zpět</a>
        </div>
        <div class="col-sm">
            <button type="submit" class="btn btn-dark" style="width: 100%">Změnit</button>
        </div>
    </div>
</form>