@{
    ViewData["Title"] = "Login";
}

@if (ViewBag.LoginFailed) {
    <p style="color: red; margin-bottom: 0">WRONG</p>
}
<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="Login">Login:</label>
        <input type="Text" name="Login" id="Login" class="form-control" @(ViewBag.Login != null ? "value=" + ViewBag.Login : "value= " ) ></input>
        <small>Login</small>
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input type="password" name="Password" id="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-dark" style="width: 100%; margin-top: 30px">Login</button>
</form>