@{
    ViewData["Title"] = "Profil";
}

<div style="text-align: center">
    <p>@ViewBag.LoggedInUser.Name @ViewBag.LoggedInUser.Surname</p>
    <p style="font-size: 2em ">Celkový počet bodů: @ViewBag.LoggedInUser.Points</p>
    <a asp-action="ChangePassword" class="btn btn-dark">Změnit heslo</a>
</div>